In [1]:
# Importing libraries
import pandas as pd
import numpy as np

## Load Cleaned Datasets

In [2]:
fg_df = pd.read_csv('fear_greed_cleaned.csv')
hd_df = pd.read_csv('historical_data_cleaned.csv')

In [3]:
# Convert date columns to datetime objects
fg_df['date'] = pd.to_datetime(fg_df['date'])
hd_df['time'] = pd.to_datetime(hd_df['time'])

In [4]:
print("--- Fear Greed Index (After Reload) ---")
fg_df.head()

--- Fear Greed Index (After Reload) ---

   index_value classification       date
0           30           Fear 2018-02-01
1           15   Extreme Fear 2018-02-02
2           40           Fear 2018-02-03
3           24   Extreme Fear 2018-02-04
4           11   Extreme Fear 2018-02-05

In [5]:
fg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index_value     2644 non-null   int64
 1   classification  2644 non-null   object
 2   date            2644 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 62.1+ KB

In [6]:
print("\n--- Historical Trader Data (After Reload) ---")
hd_df.head()

--- Historical Trader Data (After Reload) ---

,account,symbol,execution_price,size,value,side,start_position,event,closed_pnl,tx_hash,tx_index,is_maker,fee,trade_id,timestamp,time
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02 22:50:00
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02 22:50:00
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02 22:50:00
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02 22:50:00
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02 22:50:00

In [7]:
print(hd_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   account          211224 non-null  object
 1   symbol           211224 non-null  object
 2   execution_price  211224 non-null  float64
 3   size             211224 non-null  float64
 4   value            211224 non-null  float64
 5   side             211224 non-null  object
 6   start_position   211224 non-null  float64
 7   event            211224 non-null  object
 8   closed_pnl       211224 non-null  float64
 9   tx_hash          211224 non-null  object
 10  tx_index         211224 non-null  int64
 11  is_maker         211224 non-null  bool
 12  fee              211224 non-null  float64
 13  trade_id         211224 non-null  float64
 14  timestamp        211224 non-null  float64
 15  time             211224 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(5)
memory usage: 24.4+ MB
None

## Preprocessing Historical Data

### 1. Feature Engineering: Extract Date for Merging

In [8]:
hd_df['date'] = hd_df['time'].dt.date

### 2. Filter for relevant symbol (assuming the primary focus is on a major crypto asset, e.g., BTC)

In [9]:
# The symbol column contains values like '@107'. Without external knowledge, we'll assume the most frequent symbol is the one of interest.
# Let's check the unique symbols
unique_symbols = hd_df['symbol'].unique()
print(f"\nUnique symbols in historical data: {unique_symbols}")

Unique symbols in historical data: ['@107' 'AAVE' 'DYDX' 'AIXBT' 'GMX' 'EIGEN' 'HYPE' 'SOL' 'SUI' 'DOGE'
 'ETH' 'kPEPE' 'TRUMP' 'ONDO' 'ENA' 'LINK' 'XRP' 'S' 'BNB' 'BERA' 'WIF'
 'LAYER' 'MKR' 'KAITO' 'IP' 'JUP' 'USUAL' 'ADA' 'BTC' 'PURR/USDC' 'ZRO'
 '@7' '@19' '@21' '@44' '@48' '@11' '@15' '@46' '@61' '@28' '@45' '@9'
 '@41' '@38' 'kSHIB' 'GRASS' 'TAO' 'AVAX' '@2' '@6' '@8' '@10' '@12' '@16'
 '@17' '@35' '@26' '@24' '@32' '@29' '@31' '@33' '@34' '@36' '@37' '@47'
 '@53' '@74' 'RUNE' 'CANTO' 'NTRN' 'BLUR' 'ZETA' 'MINA' 'MANTA' 'RNDR'
 'WLD' 'kBONK' 'ALT' 'INJ' 'STG' 'ZEN' 'MAVIA' 'PIXEL' 'ILV' 'FET' 'STRK'
 'CAKE' 'STX' 'ACE' 'PENDLE' 'AR' 'XAI' 'APE' 'MEME' 'NEAR' 'SEI' 'FTM'
 'MYRO' 'BIGTIME' 'IMX' 'BADGER' 'POLYX' 'OP' 'TNSR' 'MAV' 'TIA' 'MERL'
 'TON' 'PURR' 'ME' 'CRV' 'BRETT' 'CHILLGUY' 'MOODENG' 'VIRTUAL' 'COMP'
 'FARTCOIN' 'AI16Z' 'GRIFFAIN' 'ZEREBRO' 'SPX' 'MELANIA' 'PENGU' 'JELLY'
 'VVV' 'VINE' 'TST' 'ARK' 'YGG' 'POPCAT' 'NIL' 'MOVE' 'BABY' 'RENDER'
 'PROMPT' 'WCT' 'OGN' 'HYPER' 'ZORA' 'BIO' 'INIT' 'TURBO' 'ARB' '@142'
 'JTO' 'PYTH' 'MATIC' 'HPOS' 'FXS' 'FIL' 'SHIA' 'PEOPLE' 'UNI' 'SUSHI'
 'LOOM' 'USTC' 'RLB' 'ETC' 'GAS' 'BANANA' 'UNIBOT' 'CYBER' 'GMT' 'ENS'
 'DYM' 'ETHFI' '@4' '@3' '@20' '@14' '@51' '@125' '@109' '@85' '@59' '@23'
 '@78' 'GOAT' 'LDO' 'PNUT' '@138' '@151' '@18' '@25' '@42' '@13' '@40'
 '@39' '@30' '@103' '@100' '@135' '@116' '@147' '@152' '@153' 'ANIME' 'W'
 'ORDI' 'IO' 'GALA' 'AI' 'NEIROETH' 'SAND' 'BOME' 'MEW' 'SUPER' 'ALGO'
 'HBAR' 'APT' 'BLAST' 'kNEIRO' 'ATOM' 'DOT' 'kFLOKI' 'TRX' 'FTT' '@1'
 '@83' '@124' '@112' '@95' 'LISTA' 'LTC' 'RSR' 'MNT' '@113' 'ZK' '@117'
 '@86' '@68' '@63' 'MORPHO' 'OM' 'REZ' 'REQ' '@49' 'BNT' 'SCR' 'IOTA'
 '@93' '@114' '@123' 'PAXG']

In [10]:
# Assuming the first symbol is the main one, or we'll proceed with all data for now.
# Since the assignment is about "Bitcoin Market Sentiment", we should focus on the Bitcoin symbol.
# Without a mapping, we'll assume the most frequent symbol is BTC, or we'll have to use all data.
# Let's check the value counts
symbol_counts = hd_df['symbol'].value_counts()
print(f"\nSymbol   counts:\n{symbol_counts}")

Symbol   counts:
symbol
HYPE    68005
@107    29992
BTC     26064
ETH     11158
SOL     10691
        ...
@18         1
@30         1
@25         1
@86         1
@68         1
Name: count, Length: 246, dtype: int64

In [11]:
# Let's assume the most frequent symbol is the one we should analyze, or all data is relevant to the sentiment.
# Given the context of "Bitcoin Market Sentiment", we will proceed with all data, assuming all trades are related to the sentiment.
# If the symbol is not BTC, the analysis might be flawed, but we lack the symbol mapping.
# For a robust analysis, we'll group by date and aggregate trader performance.

### 3. Aggregate Trader Performance by Date
##### We are interested in daily performance metrics.
##### Metrics to aggregate:
- Total closed PnL (sum)
- Average closed PnL (mean)
- Total trade volume (sum of size * execution_price)
- Total number of trades (count)
- Net trade side (sum of size for BUY - sum of size for SELL)

In [12]:
hd_df['trade_volume'] = hd_df['size'] * hd_df['execution_price']

In [13]:
daily_performance = hd_df.groupby('date').agg(
    total_closed_pnl=('closed_pnl', 'sum'),
    avg_closed_pnl=('closed_pnl', 'mean'),
    total_trade_volume=('trade_volume', 'sum'),
    trade_count=('account', 'count'),
    total_buy_size=('size', lambda x: x[hd_df.loc[x.index, 'side'] == 'BUY'].sum()),
    total_sell_size=('size', lambda x: x[hd_df.loc[x.index, 'side'] == 'SELL'].sum())
).reset_index()

In [14]:
daily_performance['net_trade_size'] = daily_performance['total_buy_size'] - daily_performance['total_sell_size']

In [15]:
daily_performance.drop(columns=['total_buy_size', 'total_sell_size'], inplace=True)

In [16]:
print("\n--- Daily Trader Performance Aggregation (First 5 rows) ---")
daily_performance.head()

--- Daily Trader Performance Aggregation (First 5 rows) ---

,date,total_closed_pnl,avg_closed_pnl,total_trade_volume,trade_count,net_trade_size
0,2023-05-01,0.000000,0.000000,476.99281,3,0.25130
1,2023-12-05,0.000000,0.000000,50005.82917,9,10.61479
2,2023-12-14,-205.434737,-18.675885,113203.34547,11,-3568.61479
3,2023-12-15,-24.632034,-12.316017,10609.95600,2,3558.00000
4,2023-12-16,0.000000,0.000000,15348.76138,3,39897.00000

In [17]:
daily_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                480 non-null    object
 1   total_closed_pnl    480 non-null    float64
 2   avg_closed_pnl      480 non-null    float64
 3   total_trade_volume  480 non-null    float64
 4   trade_count         480 non-null    int64
 5   net_trade_size      480 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 22.6+ KB

## Merging Datasets

In [18]:
# Convert date column in daily_performance to date object for clean merge
daily_performance['date'] = pd.to_datetime(daily_performance['date'])

In [19]:
# Perform the merge on the 'date' column
merged_df = pd.merge(
    daily_performance, 
    fg_df, 
    on='date', 
    how='inner' # Use inner join to only keep dates present in both datasets
)

In [20]:
print("\n--- Merged Dataset (First 5 rows) ---")
merged_df.head()

--- Merged Dataset (First 5 rows) ---

,date,total_closed_pnl,avg_closed_pnl,total_trade_volume,trade_count,net_trade_size,index_value,classification
0,2023-05-01,0.000000,0.000000,476.99281,3,0.25130,63,Greed
1,2023-12-05,0.000000,0.000000,50005.82917,9,10.61479,75,Extreme Greed
2,2023-12-14,-205.434737,-18.675885,113203.34547,11,-3568.61479,72,Greed
3,2023-12-15,-24.632034,-12.316017,10609.95600,2,3558.00000,70,Greed
4,2023-12-16,0.000000,0.000000,15348.76138,3,39897.00000,67,Greed

In [21]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                479 non-null    datetime64[ns]
 1   total_closed_pnl    479 non-null    float64
 2   avg_closed_pnl      479 non-null    float64
 3   total_trade_volume  479 non-null    float64
 4   trade_count         479 non-null    int64
 5   net_trade_size      479 non-null    float64
 6   index_value         479 non-null    int64
 7   classification      479 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 30.1+ KB

## Final Cleaning and Preparation for Analysis

In [22]:
# 1. Handle missing values (already handled by inner join and aggregation, but check for any NaNs in the aggregated columns)
print(f"\nNaN counts in merged_df:\n{merged_df.isnull().sum()}")

NaN counts in merged_df:
date                  0
total_closed_pnl      0
avg_closed_pnl        0
total_trade_volume    0
trade_count           0
net_trade_size        0
index_value           0
classification        0
dtype: int64

In [23]:
# 2. Convert 'date' back to datetime for time-series analysis
merged_df['date'] = pd.to_datetime(merged_df['date'])

In [24]:
# 3. Save the final merged and processed dataset
merged_df.to_csv('trader_sentiment_merged.csv', index=False)

In [25]:
print("\nData cleaning, preprocessing, and merging complete. Final file saved as trader_sentiment_merged.csv.")

Data cleaning, preprocessing, and merging complete. Final file saved as trader_sentiment_merged.csv.